{{ partial "header" . }}
<body>
{{ partial "nav" . }}
<main class="list">
  <div class="container">
    {{ range sort .Paginator.Pages }}
    <article>
      <p class="meta-date">{{ if .Site.Params.DateForm }}{{ .Date.Format .Site.Params.DateForm }}{{ else }}{{ .Date.Format "January 2, 2006" }}{{ end }} {{ if (ne ($.Param "displayauthor") false) }}by {{ .Params.author | default .Site.Params.author }}{{ end }}</p>
      <h1 class="title">{{ if .Draft }}[Draft]{{ end }}<a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      <div class="post-meta">
        <p class="meta-categories">
          {{ if .Params.categories }}
            {{ partial "categories" .Params.categories }}
          {{ end }}
          {{ if and .Params.categories .Params.tags }}
            <span>&nbsp;-&nbsp;</span>
          {{ end }}
          {{ if .Params.tags }}
            {{ partial "tags" .Params.tags }}
          {{ end }}
        </p>
      </div>
      <p class="content content-summary">
        {{ .Summary | plainify | safeHTML }}{{ if .Truncated }} ... {{ end }}
      </p>
      {{ if .Truncated }}
      <div class="read-more">
        <a class="button" href="{{ .Permalink }}">続きを読む</a>
      </div>
      {{ end }}
    </article>
    {{ end }}
  </div>
</main>
{{ partial "pager" . }}
{{ partial "footer" . }}
</body>
